@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>I am developing this project for my <a href="https://softuni.bg/trainings/1390/software-technologies-june-2016">Software Technologies - June 2016</a> course at the Software University.</p>

<p>Steps completed so far:</p>

<ul>
    <li>Created an ASP.NET MVC Web application</li>
    <li>Simplified the user registration and login</li>
    <li>Added a mandatory full name property for the users</li>
    <li>Created a new Post class for the forum posts</li>
    <li>Scaffolded CRUD oprations for the posts</li>
    <li>Enabled authomatic migrations of the database and added some seed to populate the db</li>
    <li>Implemented the listing of all posts on the home page with reference to the post details views</li>
    <li>TODO a more decent sidebar</li>
    <li>Modified the posts index/ details views along with the corresponding controller actions</li>
    <li>Added author data to the posts index/ details views</li>
    <li>TODO much more :)</li>
</ul>
